<footer>
  <a href="https://www.marvel.com/" target="_blank"><img src="assets/images/marvel_mini.png" alt="logo marvel"></a>
  <div class="company_info">
    <h2>COMPANY INFO</h2>
    <p>Marvel Entertainment, LLC, a wholly-owned subsidiary of The Walt Disney Company, is one of the world's most prominent character-based entertainment companies, built on a proven library of more than 8,000 characters featured in a variety of media over seventy-five years. Marvel utilizes its character franchises in entertainment, licensing and publishing. For more information visit marvel.com. © 2020 MARVEL</p>
  </div>
  <div class="follow_us">
    <h2>FOLLOW US</h2>
    <div class="icon_wrapper">
      <a href="https://www.facebook.com/marvel" target="_blank"><img src="assets/images/facebook_icon.png" alt="facebook"></a>
      <a href="https://www.instagram.com/marvel" target="_blank"><img src="assets/images/instagram_icon.png" alt="instagram"></a>
      <a href="https://www.twitter.com/marvel" target="_blank"><img src="assets/images/twitter_icon.png" alt="twitter"></a>
      <a href="https://www.pinterest.com/marvel" target="_blank"><img src="assets/images/pinterest_icon.png" alt="pinterest"></a>
      <a href="https://www.youtube.com/marvel" target="_blank"><img src="../../assets/images/youtube_icon.png" alt="youtube"></a>
    </div>
  </div>
</footer>
