/* Overall page */
.details_wrapper {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

/* Header */
.group_details_header {
  width: 100%;
  min-height: 450px;
  clip-path: polygon(
    0  0,
    100% 0,
    100% 100%,
    0% 81%);
}

.group_header_text {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  background: linear-gradient(to left, transparent, rgba(32,32,32,0.7)); /* Linear gradient on each header*/
}

/* Overall content */
.details_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 100px;
  width: 100%;
}

/* Group description */
.details_container img {
  box-shadow: 5px 5px 10px darkgray;
  max-width: 400px;
  flex: 1;
}

.text_wrapper {
  flex: 3;
  font-family: 'robotoregular', Helvetica, serif;
  max-width: 450px;
}

h3 {
  font-family: 'roboto_condensedbold', Helvetica, serif;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* Group members */
.members_wrapper {
  width: 100%;
  color: white;
  background-color: black;
  padding: 100px;
  clip-path: polygon(
    0 19%,
    100% 0,
    100% 100%,
    0% 100%);
  text-align: center;
}

.members_carousel {
  max-height : 500px;
  transition: margin-left 250ms;
  margin: 2px;
}

.cards_template_carousel {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.gallery {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-snap-type: x proximity;
  position : relative;
  margin: 6px;
}

/* Scroll bar */


::-webkit-scrollbar-track {
  background-color: #3d4852;
}

::-webkit-scrollbar {
  height: 2px;
  background-color: #3d4852;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 3px;
}
