<div *ngIf="group" class="details_wrapper">
  <div class="group_details_header"
    [ngStyle]="{'background-image': 'url(../' + group.header + ')', 'background-size': 'cover'}">
    <div class="group_header_text">
      <h2>{{group.name | uppercase}}</h2>
    </div>
  </div>
  <div class="details_container">
    <img [src]="group.img" alt="comics">
    <div class="text_wrapper">
      <h3>{{group.name}}</h3>
      <p>{{group.story}}</p>
    </div>
  </div>
    <div class="members_wrapper">
      <h3> Members </h3>
        <ul class="members_carousel">
          <app-cards-list  [ngClass]="{'card_template' : true, 'gallery' : group.members.length > 4 }"
                           [cards] = "group.members"
                           [group]= "group"
                           [link]="'/characters/'"></app-cards-list>
        </ul>
  </div>
</div>
