/* Search bar container */
#search-component img {
  width: 25px;
  float: left;
  margin-top: 15px;
}

/* Input */
#search-box {
  width: 300px;
  height: 30px;
  text-transform: uppercase;
  color: darkgray;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin: 10px;
  position: relative;
}

#search-box:focus {
  outline: none;
  border-bottom: 1px solid red;
}


/* List of result */
.search-result {
  width: 350px;
  border: none;
  font-family: 'robotoregular', Helvetica, serif;
  font-size: 90%;
  margin-top: 0;
  padding-left: 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.search-result li {
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: transparent;
  color:white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:first-child {
  border-top: 1px solid white;
}

.search-result li:last-child {
  border-bottom: 1px solid white;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}






