<div class="page_header">
  <div class="title_wrapper">
    <h2>Marvel Alliances</h2>
    <h3>Explore the different alliances between your favorite heroes & villains</h3>
  </div>
</div>
<div class="cards_template_container">
  <app-group-search></app-group-search>
  <ul class="card_template">
    <li *ngFor="let group of groups"
        class="card"
        [ngStyle]="{'background-image': 'url(' + group.img + ')','background-size': 'cover'}"
        (mouseover)="onOver($event.target)"
        (mouseout)="onOut($event.target)">
      <a routerLink="/groups/{{group.id}}">
        <div class="txt_wrapper">
          <h3>{{group.name | uppercase}}</h3>
        </div>
      </a>
    </li>
  </ul>
</div>
