.chara_header {
  width: 100%;
  height: 350px;
  background: url("../../assets/images/characters.jpg") bottom;
}

.title_wrapper {
  background-color: rgba(32,32,32,0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_wrapper h2 {
  margin : 0;
}

.title_wrapper h3{
  font-family: 'robotoregular', Helvetica, serif;
  text-align: center;
  margin : -10px 0;
  color: darkgray;
  letter-spacing: 1px;
}

.chara_template {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}

.chara_template a {
  text-decoration: none;
  color: #fff;
}

.character {
  width: 200px;
  height: 300px;
  border: 2px solid #fff;
  margin: 20px;
}

.txt_wrapper {
  height: 100%;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(32,32,32,0.8);
}

.character:hover {
  cursor: pointer;
}

.character p {
  height: 30%;
  font-family: 'robotoregular', Helvetica, serif;
  font-size: 80%;
  background:-webkit-linear-gradient(top, white, rgb(32,32,32));
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  padding: 0 10px ;
}

.character h3 {
  padding: 10px;
  margin: 2px;
}





