<div class="page_header">
  <div class="title_wrapper">
      <h2>Marvel Characters</h2>
      <h3>Discover the special abilities of your favorite heroes & villains</h3>
  </div>
</div>
<div class="chara_template_container">
  <ul class="chara_template">
    <li *ngFor="let character of characters"
        class="character"
        [ngStyle]="{background: 'url(' + character.img + ')'}"
        (mouseover)="onOver(character)"
        (mouseout)="onOut(character)">
      <a routerLink="/characters/{{character.id}}">
      <div class="txt_wrapper">
        <h3>{{character.name}}</h3>
        <p>{{character.story}}</p>
      </div>
      </a>
    </li>
  </ul>
</div>

