/* Custom fonts */

@font-face {
  font-family: 'true_crimesregular';
  src: url('assets/web-font/true-crimes-webfont.eot');
  src: url('assets/web-font/true-crimes-webfont.eot') format('embedded-opentype'),
  url('assets/web-font/true-crimes-webfont.woff') format('woff'),
  url('assets/web-font/true-crimes-webfont.ttf') format('truetype'),
  url('assets/web-font/true-crimes-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedbold';
  src: url('assets/web-font/robotocondensed-bold-webfont.eot');
  src: url('assets/web-font/robotocondensed-bold-webfont.eot') format('embedded-opentype'),
  url('assets/web-font/robotocondensed-bold-webfont.woff') format('woff'),
  url('assets/web-font/robotocondensed-bold-webfont.ttf') format('truetype'),
  url('assets/web-font/robotocondensed-bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('assets/web-font/roboto-regular-webfont.eot');
  src: url('assets/web-font/roboto-regular-webfont.eot') format('embedded-opentype'),
  url('assets/web-font/roboto-regular-webfont.woff') format('woff'),
  url('assets/web-font/roboto-regular-webfont.ttf') format('truetype'),
  url('assets/web-font/roboto-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Overall page */
* {
  box-sizing: border-box;
}

html,body {
  background-image: url("assets/images/marvel-comics.jpg");
  color: white;
  font-family: 'roboto_condensedbold', Helvetica, serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#main_container {
  background-color: rgba(32,32,32,0.8);
  min-height: 100%;
}

#container {
  background-color: rgb(32,32,32);
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 2px 0px;
}

/*Nav bar*/
.nav { /*todo faire en sorte que la barre reste au même endroit même quand on réduit l'écran car actuellement absolute selon la page entière*/
  position: absolute;
  top: 92px;
  left: 200px;
}


.title_wrapper h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
  letter-spacing: 5px;
}

/*Header of the pages*/
.page_header {
  width: 100%;
  height: 350px;
}

.title_wrapper {
  background-color: rgba(32,32,32,0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_wrapper h3{
  font-family: 'robotoregular', Helvetica, serif;
  text-align: center;
  margin : -10px 0;
  color: darkgray;
  letter-spacing: 1px;
}

/* Style of the cards template */
/*Header of the characters page*/

.title_wrapper h2 {
  margin : 0;
}


/*List of the characters cards*/
.cards_template_container {
  padding-left: 40px;
}


.card_template {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
}

.card_template li {
  list-style-type: none;
}

.card a {
  text-decoration: none;
  color: #fff;
}

.card .txt_wrapper {
  height: 100%;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(32,32,32,0.8);
  text-align: left;
}

.card {
  width: 200px;
  height: 300px;
  border: 2px solid #fff;
  margin: 20px;
  z-index: 1;
  position: relative;
}

/* White rectangle at the left bottom corner of the card */
.card::after {
  content: "";
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #fff;
  border-style: solid;
  border-top-color: transparent;
  border-width: 12px 12px 0 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: auto;
  z-index: 40;
  box-sizing: border-box;
}

.card:hover {
  cursor: pointer;
  bottom: .5em;
}

.card p {
  height: 30%;
  font-family: 'robotoregular', Helvetica, serif;
  font-size: 80%;
  background:-webkit-linear-gradient(top, white, rgb(32,32,32));
  background-clip: text;
  -webkit-background-clip:text;
  color:transparent;
  padding: 0 10px ;
}

.card h3 {
  padding: 10px;
  margin: 2px;
}

/* Details page */






